.App {
  text-align: center;

}

#appContent {
  margin: auto;
  margin-top: 30px;
  width: 500px;
  height: auto;
  border: 2px solid blue;

}

#listItems {
  list-style-type: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
