.App {
  text-align: center;
  font-family: cursive;

}

#appContent {
  margin: auto;
  margin-top: 30px;
  width: 500px;
  height: auto;
  border: 2px solid blue;
  background-color: white;
}

#listItems {
  list-style-type: none;
  word-wrap: break-word;
  padding: 2px;
  margin: 10px;
}

li {
  padding: 5px;
}

button {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
